<!-- Esto es un comment -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django</title>
</head>
<body>
  {% include "superior/barra.html" %}
 <h1 style="color: rgb(183, 31, 31);">Es mi primera plantilla con Django </h1>
 <p>Mi nombre es {{nombre_persona.upper}} {{apellido_persona}}</p>
 <p>hoy estamos a d&iacute;a y hora: {{momento_ahora.day}} / {{momento_ahora.hour}}</p> <!-- utiliza lo nomecclatura del punto para acceder a los objetos atributos y metodos-->
  <p><strong>Crusos del Tema</strong></p>
  <p>
    <ul>
      {# Esto es un comentario de 1 linea #}
      
      {% comment %}
      comentario de varias lineas

      {% endcomment %}
      
      {% if Temas %}

        {% for el in Temas %}
        <li>{{el}}</li>
        {% endfor %}

      {% else %}
        <p>No hay Temas</p>

      {% endif %}

    </ul>
  </p>
</body>
</html>